header {
    background-color: black;
    text-align:center; 
    color:green;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

#counts {
    font-size: larger;
}

#total_count {
    float: left;
    margin-left: 30px;
}
#delete_count {
    float: left;
    margin-left: 30px;

}
#edit_count {
    float: left;
    margin-left: 20px;
}

td {
    align-items: center;
}

#grid {
    clear: both;
    width: 100%;
    height: 100%;
    font-size: larger;
    margin-top: 100px;
    /* margin-bottom: 30px; */
}

#addButton {
    align-items: center;
}

#grid td {
    align-items: center;
}

footer {
    background-color: black;
    font-size: larger;
    color: green;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 10px;
}